
.all{
  /* position: absolute; */
  height: 100vh;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
  color: white;
}

.header-dark > .trigger, .trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  overflow: hidden;
}

.logo img{
  display: inherit;
  margin:auto;
  max-width: 100%;
  max-height: 100%;
}

.header {
  background: transparent;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #E1E1E1; */
}

.content{
  overflow : hidden;
  overflow-y: scroll;
  margin-top : -64px
}